<button (click)="actformempleado()">Introducir empleado</button>
<button (click)="actformevento()">Introducir Evento</button>

@if(empleado){
    <div>
        <form [formGroup]="formulario_empleado" (ngSubmit)="onSubmit_empleado()" class="form_empleados">
            <fieldset class="datos_personales">
                <legend class="legend_text">Datos Personales</legend>
                    <div>
                        <label>Nombre:</label>
                        <input type="text" formControlName="nombre" />
                    </div>
                    
                    <div>
                        <label>Apellido:</label>
                        <input type="text" formControlName="apellido" />
                    </div>
                
                    <div>
                        <label>Alias:</label>
                        <input type="text" formControlName="alias" />
                    </div>
                
                    <div>
                        <label>Email:</label>
                        <input type="email" formControlName="email" />
                    </div>
                
                    <div>
                        <label>Teléfono:</label>
                        <input type="text" formControlName="telefono" />
                    </div>
            </fieldset>
          
            <fieldset class="datos_administrativos">
                <legend class="legend_text">Datos Laborales</legend>
                    <div>
                        <label>DNI:</label>
                        <input type="text" formControlName="dni" />
                    </div>
                
                    <div>
                        <label>NSS:</label>
                        <input type="text" formControlName="nss" />
                    </div>
                
                    <div>
                        <label>Puesto:</label>
                        <input type="text" formControlName="puesto" />
                    </div>
                
                    <div>
                        <label>Horas:</label>
                        <input type="number" formControlName="horas" />
                    </div>
                
                    <div>
                        <label>IBAN:</label>
                        <input type="text" formControlName="iban" />
                    </div>
                
                    <div>
                        <label>Doc. Prev:</label>
                        <input type="number" formControlName="docprev" />
                    </div>
            </fieldset>
          
            <button type="submit">Guardar</button>
          </form>
    </div>
}

@if(evento){
    <div>
        <form [formGroup]="formulario_evento" (ngSubmit)="onSubmit_evento()" class="form_evento">
            <fieldset class="datos_graduacion">
                <legend class="legend_text">Datos principales Evento</legend>
                    <div>
                        <label>Número expediente:</label>
                        <input type="text" formControlName="identificador" />
                    </div>
                    
                    <div>
                        <label>Nombre del Centro:</label>
                        <input type="text" formControlName="nombre_centro" />
                    </div>
                
                    <div>
                        <label>Curso:</label>
                        <input type="text" formControlName="curso" />
                    </div>

                    <div>
                        <label>fecha:</label>
                        <input type="date" formControlName="fecha" />
                    </div>
                
                    <div>
                        <label>Población:</label>
                        <input type="text" formControlName="poblacion" />
                    </div>
            </fieldset>
          
            <fieldset class="datos_acto">
                <legend class="legend_text">Acto</legend>
                @if(mostrarActo){
                <div>
                    <label>Lugar:</label>
                    <input type="text" formControlName="lugar_acto" />
                </div>
                <div>
                    <label>Hora:</label>
                    <input type="time" formControlName="hora_acto" />
                </div>
                <div>
                    <label>Número Graduados:</label>
                    <input type="number" formControlName="numgraduados_acto" />
                </div>
                <div>
                    <label>Número Familiares:</label>
                    <input type="number" formControlName="numfamiliares_acto" />
                </div>
                <div class="anotaciones">
                    <label>audiovisuales:</label>
                    <textarea formControlName="audiovisuales"></textarea>
                </div>
                <div class="anotaciones">
                    <label>Anotaciones:</label>
                    <textarea id="anotaciones_acto" formControlName="anotaciones_acto"></textarea>
                </div>
                }

            </fieldset>
            <fieldset class="datos_cena">
                <legend class="legend_text">Cena</legend>

                    <div>
                        <label>Lugar:</label>
                        <input type="text" formControlName="lugar_cena" />
                    </div>
                
                    <div>
                        <label>Hora:</label>
                        <input type="time" formControlName="hora_cena" />
                    </div>
                
                    <div>
                        <label>Número Alumnos:</label>
                        <input type="number" formControlName="numalumnos_cena" />
                    </div>
                
                    <div>
                        <label>Número Profesores:</label>
                        <input type="number" formControlName="nprofesores_cena" />
                    </div>

                    <div class="anotaciones">
                        <label>Anotaciones:</label>
                        <textarea formControlName="anotaciones_cena"></textarea>
                    </div>
                    <!-- Modal del menú-->
                    <div>
                        <button type="button" (click)="openModal()">Menú</button>

                        <app-modal [isOpen]="showModal" [title]="'Menú'" (close)="closeModal()">

                            <textarea id="textarea_menu" formControlName="menu_cena"></textarea>
                            <button type="button" (click)="closeModal()">Cerrar</button>
                        
                        </app-modal>

                    </div>

            </fieldset>

            <fieldset class="datos_fiesta">
                <legend class="legend_text">Fiesta</legend>
                    <div>
                        <label>Lugar:</label>
                        <input type="text" formControlName="lugar_fiesta" />
                    </div>
                
                    <div>
                        <label>Hora:</label>
                        <input type="time" formControlName="hora_fiesta" />
                    </div>
                
                    <div>
                        <label>Número Gratuidades:</label>
                        <input type="number" formControlName="numgratuidades_fiesta" />
                    </div>
                
                    <div>
                        <label>Número Asistentes:</label>
                        <input type="number" formControlName="numasistentes_fiesta" />
                    </div>
                    <div style="margin-right: 100%;"></div>
                    <div class="bloque_fiesta">
                        <label>¿Se utilizaran todos los servicios basicos?:</label><br>
                        <!--
                        sonido profesional
                        iluminacion robotica
                        efectos y maquina de humo
                        Dj profesional
                        fotografo
                        recena: - mcdonals o burguer king
                        seguridad cualificada
                        animaciones para fotos
                        gliter bar
                        barra libre alcohol 6 hotas
                        barra libre refrescos 6 horas
                        5 consumisiones + barra libre refrescos
                        cartucho de gomitas-->

                            
                        <label>
                        <input type="checkbox" name="servicio" value="sonido_profesional" formControlName="sonido_profesional"> Sonido profesional
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="iluminacion_robotica" formControlName="iluminacion_robotica"> Iluminación robótica
                                                </label><br>

                                                <label>
                        <input type="checkbox" name="servicio" value="efectos_maquina_humo" formControlName="efectos_humo"> Efectos y máquina de humo
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="Guarda_ropa" formControlName="guardaropa"> Guarda ropa Gratuito
                                                </label><br>
                                                
                                                <label>
                        <input type="checkbox" name="servicio" value="dj_profesional" formControlName="djprofesional"> DJ profesional
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="fotografo" formControlName="fotografo"> Fotógrafo
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="recena_mcdonalds" formControlName="recena_mcdonalds"> Recena: McDonald's
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="recena_burger_king" formControlName="recena_burguerking"> Recena: Burger King
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="seguridad_cualificada" formControlName="seguridad_cualificada"> Seguridad cualificada
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="animaciones_fotos" formControlName="animaciones_fotos"> Animaciones para fotos
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="glitter_bar" formControlName="glitter_bar"> Gliter bar
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="barra_libre_alcohol" formControlName="barra_libre_alcohol"> Barra libre alcohol 6 horas
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="barra_libre_refrescos" formControlName="barra_libre_refrescos"> Barra libre refrescos 6 horas
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="consumisionesybarra" formControlName="consumisionesybarra"> 5 consumisiones + barra libre refrescos
                                                </label><br>
                                                <label>
                        <input type="checkbox" name="servicio" value="cartucho_gomitas" formControlName="cartucho_gomitas"> Cartucho de gomitas
                                                </label><br>
                    </div>
                
                    <div class="bloque_fiesta">
                        <label>Extra gratis:</label><br>
                        <!--
                        Plataforma 360
                        fotomaton
                        Glitter bar
                        Glitter makeup
                        asistencia de maquillage y peluqueria
                        
                        -->
                        <label>
                            <input type="checkbox" name="servicio" value="plataforma_360" formControlName="plataforma_360"> Plataforma 360
                        </label><br>
                        <label>
                            <input type="checkbox" name="servicio" value="fotomaton" formControlName="fotomaton"> Fotomaton
                        </label><br>
                        <label>
                            <input type="checkbox" name="servicio" value="Glitter_bar" formControlName="glitter_bar_free"> Glitter bar
                        </label><br>
                        <label>
                            <input type="checkbox" name="servicio" value="Glitter_makeup" formControlName="glitter_makeup"> Glitter makeup
                        </label><br>
                        <label>
                            <input type="checkbox" name="servicio" value="asistencia_maquillaje_peluqueria" formControlName="asist_ma_pe"> Asistencia de maquillaje y peluquería
                        </label><br>
                    </div>
                    
                    <div class="bloque_fiesta">
                        <label>Extras:</label><br>
                        <!--
                        
                        Recena premium:
                            pizza
                            kebab
                            mexicana
                            hamburguesas y perritos
                        
                        tatuajes
                        cachimba
                        
                        -->
                        <label>
                            <input type="checkbox" name="recena" value="recena_pizza" formControlName="recena_pizza"> Recena: Pizza
                        </label><br>
                        <label>
                            <input type="checkbox" name="recena" value="recena_kebab" formControlName="recena_kebab"> Recena: Kebab
                        </label><br>
                        <label>
                            <input type="checkbox" name="recena" value="recena_mexicana" formControlName="recena_mexicana"> Recena: Mexicana
                        </label><br>
                        <label>
                            <input type="checkbox" name="recena" value="recena_hamburguesas_perritos" formControlName="recena_hamburguesas_perritos"> Recena: Hamburguesas y perritos
                        </label><br>
                        <label>
                            <input type="checkbox" name="adicional" value="tatuajes" formControlName="tatuajes"> Tatuajes
                        </label><br>
                        <label>
                            <input type="checkbox" name="adicional" value="cachimba" formControlName="cachimba"> Cachimba
                        </label><br>
                    </div>

                    <div class="anotaciones">
                        <label>Intolerancias y alergias:</label>
                        <textarea formControlName="intolerancias_fiesta"></textarea>
                    </div>

                    <div class="anotaciones">
                        <label>Anotaciones:</label>
                        <textarea formControlName="anotaciones_fiesta"></textarea>
                    </div>

            </fieldset>
          
            <button type="submit">Guardar</button>
          </form>
    </div>
}