<div>
  <button (click)="actformevento()">Introducir eventos</button>
</div>
@if(btnevento){
  <app-creacionevento></app-creacionevento>
}
<div class="container">
    <h2>Tabla de expedientes</h2>
    <table>
      <thead>
        <tr>
          <th>Expediente</th>
          <th>Centro</th>
          <th>Fecha</th>
          <th>Reserva</th>
          <th>Pagos</th>
          <th>Lugar</th>
          <th>Ciudad</th>
        </tr>
      </thead>
      <tbody>
        @for(evento of evento; track evento.id) {
            <tr (dblclick)="verDetalle(evento.id)">
                <td>{{ evento.expediente }}</td>
                <td>{{ evento.centro }}</td>
                <td>{{ formatDate(evento.fecha)}}</td>
                <td>{{ evento.reserva }}</td>
                <td>{{ evento.pagos }}</td>
                <td>{{ evento.lugar_fiesta }}</td>
                <td>{{ evento.ciudad }}</td><!--Este lugar hay que consultarlo de nuevo-->
        }
        
      </tbody>
    </table>
  </div>