@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

  .admin-container {
    display: flex;
    font-family: Karla, sans-serif;
  }
  
  .menu {
    background-color: #F05F00;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content; 
    padding: 10px;
    border-radius: 10px;
  }
  
  .menu aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar {
    width: 100%; 
    overflow: hidden;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%; 
  }
  
  .sidebar ul li {
    margin: 15px 0;
    text-align: center;
  }

  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
  }
  .sidebar ul li a:hover {
    background: #34495e;
  }

  /*_____________________Contenido central______________________________*/
  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    background-color: #fff3ea;
    border-radius: 20px;
  }


  /*_____________________Tablas______________________________*/

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #FFC8A4;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border: 1px solid #000;
  }
  
  th {
    background-color: #F05F00;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #FFA870;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
    .btn-volver {
      padding: 8px 16px;
      background-color: #eeeeee;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }