* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .admin-container {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    background-color: #d4bf99;
  }

  .sidebar {
    width: 10%;
    min-height: 100vh;
    background-color: #d89416;
    color: white;
    padding: 20px;
  }

  .sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style: none;
  }

  .sidebar ul li {
    margin: 15px 0;
  }

  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
  }

  .sidebar ul li a:hover {
    background: #34495e;
  }

  .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 10%;
  }