<button (click)="goBack()">← Atrás</button>
<div class="container">

    
    <div class="information">
        <div class="relevant-info">
            <h2>{{evento.centro}}</h2>
            <p>Fecha: <strong>{{formatDate(evento.fecha)}} </strong> -- quedan <strong>{{calcularDiasRestantes(evento.fecha)}}</strong> días para esta graduación</p>
            <p><strong>{{evento.curso}}</strong></p>
            <p>Reserva: {{evento.reserva}}</p>
            <p>Pago: {{evento.pagos}}</p>
            
        </div>
        <div class="menu-infor">
            <h2>Menú:</h2>
            <p class="menu-text">{{evento.menu_cena}}</p>
        </div>
    </div>
    
    <div class="workers">
        <h2>Trabajadores asignados</h2>
        @if(eventoempleado.length > 0){
            <table>
                <thead>
                  <tr>
                    <th>Encargado</th>
                    <th>Camareros</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- Encargado -->
                    <td>
                      @for(encargado of trabajadores; track $index){
                        @if(encargado.asignadoE == true && encargado.encargado == 1){
                          {{ encargado.nombre }}<br>
                        }
                      }
                    </td>
              
                    <!-- Camareros -->
                    <td>
                      @for(camarero of trabajadores; track $index){
                        @if(camarero.asignadoC == true && camarero.camarero == 1){
                          {{ camarero.nombre }}<br>
                        }
                      }
                    </td>
                  </tr>
                </tbody>
              </table>
        }@else {
            <p>No hay trabajadores asignados a este evento.</p>
        }
        

        <!-- Modal del menú-->
        <div>
            <button type="button" (click)="openModal()">Modificar Trabajadores</button>
            <button (click)="guardarBbdd()">Guardar</button>

            <app-modal [isOpen]="showModal" [title]="'Asignar Trabajadores'" (close)="closeModal()">

                <h3>Encargado</h3>
                <ul>
                    @for(encargado of trabajadores; track $index; let i = $index){
                        @if(encargado.asignadoE == true && encargado.encargado == 1){
                            <li>{{encargado.nombre}} <button (click)=" sacarEmpleado(encargado.id, 'e')">Eliminar</button></li>
                        }
                        
                    }
                    
                </ul>
                <h3>Camareros</h3>
                <ul>
                    @for(camarero of trabajadores; track $index; let i = $index){
                        @if(camarero.asignadoC == true && camarero.camarero == 1){
                            <li>{{camarero.nombre}} <button (click)=" sacarEmpleado(camarero.id, 'c')">Eliminar</button></li>
                        }
                        
                    }

                </ul>

                <div>
                    <form>
                        <label for="encargado">Encargado:</label>
                        <select id="encargados" name="encargados" #selectEncargado>
                            @for(encargado of trabajadores; track $index; let i = $index){
                                @if(encargado.asignadoE == false && encargado.encargado == 1){
                                    <option [value]=encargado.id>{{encargado.nombre}}</option>
                                }
                                
                            }
                        </select>


                        <button type="button" (click)="meterEmpleado(+selectEncargado.value, 'e')">Añadir/Cambiar</button>
                        <br>
                        <label> Camareros con id: </label>
                        <select id="camareros" name="camareros" #selectCamarero>
                            @for(camarero of trabajadores; track $index; let i = $index){
                                @if(camarero.asignadoC == false && camarero.camarero == 1){
                                    <option [value]=camarero.id>{{camarero.nombre}}</option>
                                }
                                
                            }
                        </select>
                        <button type="button" (click)="meterEmpleado(+selectCamarero.value, 'c')">Añadir camarero</button>
                    </form>
                </div>
                <div>

                </div>





                <button>Guardar</button>
                <button type="button" (click)="closeModal()">Cerrar</button>
            
            </app-modal>

        </div>


        
    </div>
</div>