<button (click)="goBack()">← Atrás</button>
<div class="container">

    
    <div class="information">
        <div class="relevant-info">
            <h2>{{evento.centro}}</h2>
            <p>Fecha: <strong>{{formatDate(evento.fecha)}} </strong> -- quedan <strong>{{calcularDiasRestantes(evento.fecha)}}</strong> días para esta graduación</p>
            <p><strong>{{evento.curso}}</strong></p>
            <p>Reserva: {{evento.reserva}}</p>
            <p>Pago: {{evento.pagos}}</p>
            
        </div>
        <div class="menu-infor">
            <h2>Menú:</h2>
            <p class="menu-text">{{evento.menu_cena}}</p>
        </div>
    </div>
    
    <div class="workers">
        <h2>Trabajadores asignados</h2>
        @if(eventoempleado.length > 0){
            <table>
                <thead>
                <tr>
                    <th>Encargado</th>
                    <th>Camarero</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>{{ encargado }}</td>
                    <td>
                    @for(camarero of camareros;  track $index; let i = $index){
                        -{{camarero}}-
                    }
                    </td>
                    </tr>
                
                </tbody>
            </table>
        }@else {
            <p>No hay trabajadores asignados a este evento.</p>
        }
        
        <div>
            <form>
                <label for="encargado">Encargado:</label>
                <select id="encargado" name="encargado">
                    <option value="Laura">Laura</option>
                    <option value="Juan">Juan</option>
                    <option value="Pedro">Pedro</option>
                    <option value="María">María</option>
                </select>
                <label for="camareros">Camareros:</label>
                <select id="encargado" name="encargado">
                    <option value="Laura">Laura</option>
                    <option value="Juan">Juan</option>
                    <option value="Pedro">Pedro</option>
                    <option value="María">María</option>
                </select>
                <button type="submit">Modificar</button>
            </form>
        </div>
        <button>Modificar trabajadores</button>
    </div>
</div>