.container{
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.information {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.relevant-info,
.menu-infor {
  box-sizing: border-box;
}

.menu-text{
  white-space: pre-line;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #FFC8A4;
  
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border: 1px solid #000;
}

th {
  background-color: #F05F00;
  color: white;
}

tr:nth-child(even) {
  background-color: #FFA870;
}

tr:hover {
  background-color: #ddd;
}

.btn-volver {
  padding: 8px 16px;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
