<h2>{{empleado.nombre}}</h2>

<table>
    <th>Encargado</th>
    <th>Camarero</th>
    <tbody>
        <tr>
            <td>{{puestoencargado}}</td>
            <td>{{puestocamarero}}</td>
        </tr>
        
</table>



<h2>Eventos asignados</h2>
<table>
    <thead>
        <tr>
            <th>Eventos</th> <!--Colocar enlace al evento-->
            <th>Fecha</th>
            <th>Puesto</th>
            <th>Confirmación</th>
            <th>Coche</th>
        </tr>
    </thead>
    <tbody>
    </tbody>