
<div>
  <button (click)="actformempleado()">Introducir empleado</button>
</div>
@if(formempleado){

  <div>
    <app-creacionempleado [empleado]="empleadoSeleccionado" (recarga)="recargarDatos()">
    
    </app-creacionempleado>
  </div>
}
<h1>Lista de empleados desde BBDD</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Alias</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>DNI</th>
      <th>NSS</th>
      <th>Puesto</th>
      <th>Horas</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
      @for (emp of usuarios; track emp.dni) {
          <tr (dblclick)="verDetalle(emp.id)">
            <td>{{ emp.nombre }}</td>
            <td>{{ emp.apellido }}</td>
            <td>{{ emp.alias }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.telefono }}</td>
            <td>{{ emp.dni }}</td>
            <td>{{ emp.nss }}</td>
            <td>{{ getPuesto(emp.encargado, emp.camarero) }}</td>
            <td>{{ emp.horas }}</td>
            <td><button (click)="modificarEmpleado(emp)">Modificar</button></td>
          </tr>
        }
  </tbody>
</table>